<div class="admin-title">
  <h2>PictoJS</h2>
</div>
<input type="file" id="load" value="Load image" />
<div class="drawings-container">
  <div class="canvas-wrapper">
    <canvas id="drawing-canvas"></canvas>
    <input type="button" id="send" value="Send image" />
  </div>

  <div id="messages" class="canvas-wrapper">
    <img src="" alt="Place holder" />
  </div>
</div>

<script src="/public/"></script>
