<!-- dashboard link -->
<div class="admin-title">
  <h2>Create a drawing</h2>
</div>
<input type="button" id="send" value="Send image" />
<input type="file" id="load" value="Load image" />
<div class="drawings-container">
  <div class="canvas-wrapper">
    <canvas id="drawing-canvas"></canvas>
  </div>
  <div id="messages"></div>
</div>
