
<div class="admin-title">
  <h2>Chat</h2>
</div>
<input type="file" id="load" value="Load image" />
<div class="drawings-container">
  <div class="canvas-wrapper">
    <canvas id="drawing-canvas"></canvas>
  </div>

  <div id="messages"></div>
</div>
<input type="button" id="send" value="Send image" />

<script src="/public/"></script>