<h1 class="pixelify-sans-test">Create an Account</h1>
<form class="pixelify-sans-test" action="/create-account" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="John_Smith">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Create Account" class="btn">
</form>

<h1 class="pixelify-sans-test">Login</h1>
<form class="pixelify-sans-test" action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="John_Smith">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Login" class="btn">
</form>