<h1>Register</h1>
<form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="John_Smith">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Create Account" class="btn">
</form>

<h1>Login</h1>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="John_Smith">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Login" class="btn">
</form>