<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <div class="container">
      <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
      <script>
        const socket = io();
      </script>
      <main class="main"><%- body %></main>
    </div>
    <div class="footer-wrapper pixelify-sans-test">
      <p><%= locals.description %></p>
    </div>
    <div class="link">
      <a class="pixelify-sans-test" href="https://www.freepik.com/free-vector/flat-distorted-checkered-background_14213480.htm#query=checkered%20background&position=30&from_view=keyword&track=ais&uuid=7a1268f4-2886-4ca9-a3a6-c04c41e45e4b"> Image by Freepik</a>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
